.git
.github
node_modules
vendor
.env
.env.testing
bootstrap/cache/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
npm-debug.log
composer.lock
package-lock.json
public/build
